<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{frontoffice/layout/layout}">
<div layout:fragment="preventivi">
	<!-- breadcam_area_start -->
	<div style="background-image: url('img/consegnati/2.jpg')"
		th:
		class="breadcam_area overlay2">
		<div class="bradcam_text">
			<h3>Preventivi</h3>
		</div>
	</div>
	<!-- breadcam_area_end -->
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<h3 class="mb-30">RICHIEDI IL PREVENTIVO PER L'ABBIGLIAMENTO
					PERSONALIZZATO DELLA TUA SQUADRA</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">PRIMO PASSO</h4>
							<p>
								Contattaci per ricevere tutte le informazioni necessarie.
								Inviando una mail all'indirizzo <a
									href="mailto:info@diemmesport.it">info@diemmesport.it</a>
								potrai richiediedere gratuitamente un preventivo
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">RICEVI IL TUO PREVENTIVO PER
								L'ABBIGLIAMENTO PERSONALIZZATO DELLA TUA SQUADRA</h4>
							<p>Una volta messo in contatto con noi, un membro del nostro
								staff ti guiderà gratuitamente nel processo di selezione delle
								migliori opzioni e caratteristiche per il tuo abbigliamento
								personalizzato per soddisfare le tue esigenze, richieste e
								budget, in modo da poter elaborare un preventivo dettagliato per
								la tua divisa.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">INCONTRA UN AGENTE DIEMME E SCOPRI LA
								DIFFERENZA</h4>
							<p>Se lo desideri, un nostro agente gratuitamente ti visiterà
								nella sede della tua squadra con un campionario. Nel caso non
								avessimo agenti nella tua zona, sarà nostra premura inviarti i
								capi della nostra collezione. In questo modo avrai la
								possibilità di vedere con i tuoi occhi la qualità superiore dei
								nostri prodotti e sentirne la differenza.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">RICEVI LA BOZZA DEL TUO DISEGNO
								PERSONALIZZATO</h4>
							<p>Una volta confermato il preventivo, la nostra squadra di
								esperti grafici lavorerà sul tuo disegno, partendo dai colori
								della tua squadra e dai loghi. Riceverai alcune proposte tra cui
								scegliere. Una volta scelto il disegno che più ti piace e
								applicate tutte le modifiche per arrivare al disegno finale,
								questo verrà adattato a tutti gli articoli da te selezionati per
								la tua divisa. TUTTO A COSTO ZERO</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">CONFERMA GLI IMPIANTI GRAFICI E IL TUO
								ORDINE</h4>
							<p>Quando tutti gli articoli del tuo abbigliamento
								personalizzato saranno stati disegnati, riceverai gli impianti e
								la conferma d’ordine per l’approvazione. L’impianto ti mostrerà
								ogni singola parte della tua divisa e come sarà stampata con il
								tuo disegno. Questo è il miglior modo per te per verificare che
								tutti i loghi siano nella posizione corretta e che ogni pezzo
								del tuo completo venga prodotto così come tu lo vuoi.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">RICEVI IL TUO ABBIGLIAMENTO PERSONALIZZATO</h4>
							<p>Una volta confermati impianti e ordine, inizieremo con la
								produzione della tua divisa personalizzata. Tutti i prodotti poi
								saranno recapitati con la massima celerità specificato nel
								momento della conferma dell'oridne</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>